$fontColor: #0091aa;
$colorHeading: #1186a3;

body {
    text-align: center;
    background-color: powderblue;
}

#content  // div with id: content
{
    color: $fontColor;
}
#page-wrap {
    text-align: center;
    width: 175px;
    margin: 0 auto;
}

#outer {
    width: 100%;

}

.button {
    width: 77px;
    float: left;
    margin-right: 20px;
}

#inner {
    width: 20%;

}

.buttons {
    width: 250px;
    margin: 10px auto;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}